<!-- Login Wrap -->
<div class="taco-login-wrap">
  <div class="section-login">
    <div class="login-area">

      <!-- Forgot Password -->
      <div class="box-password">
        <h1 class="txt-title">Forgot Password?</h1>
        <p class="txt-desc">
          Forgot your password?<br>
          Please contact the administrator e-mail below.
          <br><br>
          <a href="mailto:admin.taco@sk.com" class="link-email">admin.taco@sk.com</a>
        </p>
        <button type="button" class="btn-basic type-small type-icon type-back" (click)="signInClick()">Sign in</button>
      </div>
      <!-- //Forgot Password -->

    </div>
  </div>
</div>
<!-- //Login Wrap -->
